##################################################################
#
# seq_maps.rc
#
# This is a resource file which lists the names of mapping
# weight files to use in a sequential CCSM run (mapname).
# You can also set when data is rearranged in the mapping (maptype).
#
# This file is read during the map_model2model_init calls.
#
# For maptype:  X = Rearrange the input so that the output
#                   is on the correct processor.
#               Y = Rearrange the output and sum partial outputs
#                   if necessary
#
# NOTE:  For bfb on different processor counts, set all maptypes to "X".
################################################################## 
srfFileName: input_files/1x1d.nc
atmFileName: input_files/ne30np4_pentagons.091226.nc
landFileName: input_files/regrid_vegetation.nc 
soilwFileName: input_files/clim_soilw.nc
srf2atmFmapname: input_files/map_1x1_to_ne30np4_aave.nc
srf2atmFmaptype: X
outputFileName: atmsrf_ne30np4_101206.nc
